* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

body {
  background-color: aqua;
}

header{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;

margin: 15px 15%;
background-color: yellow;

border: 2px dotted black;
}

.logo, .menu-header, .button{
  border: 2px dotted black;
}
nav ul {
  display: flex;
  flex-wrap: wrap;

  
}

nav ul li {
  
  list-style: none;
  margin: 12px;
}
nav ul li a{
  text-decoration: none;
  color: black;
}

/* Main */
  
/* Section 1 */
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: red;
}

.intro {
  border: 2px dotted black;
  height: 300px;
  width: 600px;
  background-color: beige;
}

/* sections 2-3-4 */

.section-2, .section-3, .section-4 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
  margin: 0 auto;
}

.section-3{
  background-color: blueviolet;
}

.section-4{
  background-color:deepskyblue;
}


.flexer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 15px;
  margin: 0 15%;
}

.immagine {
    
    width: 55%;
    height: 300px;
    background-color:darkgreen;
}

 .testo {
 
  width: 45% ;
  height: 300px;
  background-color: coral;
}


/* section 5 */

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkmagenta;
  padding: 20px;
  
}

.intestazione {
  height: 100px;
  width: 70%;

  margin-bottom: 10px;
  background-color: brown;
}
.immagine-2 {
  height: 300px;
  width: 70%;

  margin-bottom: 10px;
  background-color: brown;
}
.scarica{
  height: 100px;
  width: 70%;

  background-color: brown;

}



/* Footer */
footer {
  height: 400px;
  background-color: forestgreen;
  padding: 15px;
}

.primo-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15%;
  margin-bottom: 30px;
  border: 2px dotted black ;
}




.grande-footer {

  height: 300px;
  width: 30%;
  background-color: crimson;
  
  border: 2px dotted black ;
}

.link-aside-footer {
  height: 300px;
  width: 17.5%;
  background-color: crimson;

  border: 2px dotted white ;
  
}


.second-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50px;
  margin: 0px 15%;
  background-color: aquamarine;
}

.logo-footer {
  background-color: beige;
  border: 2px dotted black;
}


.bottone-footer {
  background-color: beige;
  border: 2px dotted black;

}