* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

body {
  background-color: aqua;
}

header{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;

margin: 15px 15%;
background-color: yellow;

border: 2px dotted black;
}

.logo, .menu-header, .button{
  border: 2px dotted black;
}
nav ul {
  display: flex;
  flex-wrap: wrap;

  
}

nav ul li {
  
  list-style: none;
  margin: 12px;
}
nav ul li a{
  text-decoration: none;
}

/* Main */
  
/* Section 1 */
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: red;
}

.intro {
  border: 2px dotted black;
  height: 300px;
  width: 600px;
  background-color: beige;
}

/* sections 2-3-4 */

.section-2, .section-3, .section-4 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
  margin: 0 auto;
}

.section-3{
  background-color: blueviolet;
}

.section-4{
  background-color:deepskyblue;
}


.flexer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 15px;
  margin: 0 15%;
}

.immagine {
    
    width: 75%;
    height: 300px;
    background-color:darkgreen;
}

 .testo {
 
  width: 25% ;
  height: 300px;
  background-color: coral;
}


/* section 5 */

.section-5 {
  display: flex;
  justify-content: center;
  background-color: darkmagenta;
  padding: 20px;
  
}

.contenuto {
  height: 600px;
  width: 70%;

  background-color: brown;
}




